#grid-container {
    display: table;
    border: 2px solid;
}

.grid-row {
    display: table-row;
}

.grid-cell {
    display: table-cell;
    border-collapse: collapse;
    height: 20px;
    width: 20px;
    text-anchor: middle;
    text-align: center;
    padding: 0;
    border: 2px solid;
    margin: 5px;
}

#again {
    display: none;
}
