#grid-container {
    display: flex;
    flex-direction: column;
    border: 3px solid;
    width: 500px;
    height: 500px;
}

.grid-row {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.grid-cell {
    flex: 1;
    border: 3px black solid;
    font-family: Consolas, Courier, monospace;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

#time {
    font-family: Consolas, Courier, monospace;
}

#status {
    font-family: Consolas, Courier, monospace;
}

#again {
    display: none;
}

.unknow {
    background-color: lightgray;
    color: lightgray;
}

.flag {
    background-color: lightgray;
    color: black;
}

.empty {
    background-color: #eeeeee;
    color: #eeeeee;
}

.color-1,
.color-2,
.color-3,
.color-4,
.color-5,
.bomb {
    background-color: #eeeeee;
}

.color-1 {
    color: blue;
}

.color-2 {
    color: green;
}

.color-3 {
    color: red;
}

.color-4 {
    color: darkblue;
}

.color-5 {
    color: maroon;
}

.bomb {
    color: red;
}
